// В этом файле должны быть стили для БЭМ-блока shopfront, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.shopfront {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  margin-bottom: 34px;

  &__card {
    max-width: 221px;
    flex-basis: 221px;
    flex-grow: 1;

    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  &__card-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background: $gray-lighten;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $gray-lighten;
    height: 100%;

    &:hover,
    &:focus {
      border-color: $color-main;
    }
  }

  &__card-img {}

  &__card-title {
    font-family: $font-family--second;
    font-weight: 500;
  }
  &__card-count {
    font-family: $font-family;
    color: #757575;
    margin-top: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }

}
