.btn-calc {
  border: 1px solid $color-main;
  background: #fff;
  color: $color-main;
  font-size: 14px;
  font-family: $font-family--second;
  font-weight: 500;
  width: 100%;
  background-image: url("../img/btn-calc-icon.png");
  background-repeat: no-repeat;
  background-position: left 16px center;
  padding: 8px 35px 8px 75px;
  line-height: 1.2;
  white-space: normal;
  text-align: left;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);

  &:hover,
  &:focus {
    background-color: #fff;
    border-color: $color-main;
    color: $black;
  }
}

.advantages-box {
  background: #eeeeee;
  border: 1px dashed $color-main;
  padding: 16px 5px 16px 16px;

  &__title {
    font-family: $font-family--second;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 16px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      font-size: 14px;
      color: #212121;
      padding-left: 16px;
      margin-bottom: 6px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='8px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M9.887,0.123 C9.737,-0.042 9.493,-0.042 9.343,0.123 L3.108,6.978 L0.656,4.282 C0.506,4.117 0.263,4.117 0.112,4.282 C-0.038,4.447 -0.038,4.715 0.112,4.880 L2.837,7.876 C2.987,8.041 3.230,8.041 3.380,7.876 L9.887,0.721 C10.037,0.556 10.037,0.288 9.887,0.123 Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left top 5px;
    }
  }
}

.info-box {

  padding-left: 76px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='51px' height='51px'%3E%3Cpath fill-rule='evenodd' fill='rgb(254, 13, 13)' d='M43.260,38.310 L19.985,38.310 C16.213,42.885 14.071,49.724 14.048,49.795 C13.947,50.125 13.681,50.379 13.347,50.466 C13.263,50.488 13.178,50.499 13.093,50.499 C12.840,50.499 12.594,50.404 12.406,50.226 C8.196,46.244 7.896,41.744 8.600,38.310 L7.743,38.310 C3.749,38.310 0.500,35.119 0.500,31.196 L0.500,7.611 C0.500,3.689 3.749,0.499 7.743,0.499 L43.260,0.499 C47.252,0.499 50.499,3.689 50.499,7.611 L50.499,31.196 C50.499,35.119 47.252,38.310 43.260,38.310 ZM48.500,7.611 C48.500,4.792 46.149,2.500 43.260,2.500 L7.743,2.500 C4.852,2.500 2.500,4.792 2.500,7.611 L2.500,31.196 C2.500,34.016 4.852,36.310 7.743,36.310 L9.878,36.310 C10.193,36.310 10.490,36.459 10.678,36.711 C10.868,36.962 10.926,37.288 10.838,37.591 C10.048,40.290 9.805,44.100 12.689,47.607 C13.612,45.113 15.672,40.228 18.765,36.655 C18.954,36.436 19.231,36.310 19.521,36.310 L43.260,36.310 C46.149,36.310 48.500,34.016 48.500,31.196 L48.500,7.611 ZM38.600,14.370 L12.400,14.370 C11.847,14.370 11.400,13.921 11.400,13.370 C11.400,12.817 11.847,12.370 12.400,12.370 L38.600,12.370 C39.153,12.370 39.600,12.817 39.600,13.370 C39.600,13.921 39.153,14.370 38.600,14.370 ZM12.400,22.670 L30.822,22.670 C31.374,22.670 31.822,23.118 31.822,23.670 C31.822,24.222 31.374,24.670 30.822,24.670 L12.400,24.670 C11.847,24.670 11.400,24.222 11.400,23.670 C11.400,23.118 11.847,22.670 12.400,22.670 Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left top;

  &__title {
    font-family: $font-family--second;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 15px;
      font-size: 16px;
      margin-bottom: 10px;

      &:before {
        content: "";
        width: 8px;
        height: 8px;
        background: $color-main;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
}

.feedback-links {
  a {
    display: block;
    text-transform: uppercase;
    color: $color-main;
    margin-bottom: 4px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.main-phone {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 5px;
    fill: $color-main;
  }

  &--light {

    .main-phone__icon {
      fill: #757575;
    }
  }
}

.search-form {

  display: flex;

  &__input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #e0e0e0;
    border-right: 0;
    font-size: 14px;
    padding: 10px;
    min-width: 262px;
  }
  &__btn {
    background-color: #e0e0e0;
    color: #fff;
    border: none;
    width: 55px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M16.597,14.294 L13.506,11.186 C14.376,10.017 14.898,8.571 14.898,7.000 C14.898,3.134 11.780,-0.000 7.935,-0.000 C4.090,-0.000 0.973,3.134 0.973,7.000 C0.973,10.866 4.090,13.999 7.935,13.999 C9.499,13.999 10.937,13.475 12.099,12.600 L15.190,15.708 C15.384,15.902 15.638,15.999 15.893,15.999 C16.148,15.999 16.403,15.902 16.597,15.708 C16.984,15.319 16.984,14.682 16.597,14.294 ZM2.962,7.000 C2.962,4.242 5.193,1.999 7.935,1.999 C10.677,1.999 12.908,4.242 12.908,7.000 C12.908,9.756 10.677,11.999 7.935,11.999 C5.193,11.999 2.962,9.756 2.962,7.000 Z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: darken(#e0e0e0, 5%);
    }
  }

  &__input,
  &__btn {
    &:focus {
      outline: none;
    }
  }
}
